{% extends 'base.html' %}
{% load userinfo %}
{%  load timesince %}
{% block style %} 
      position:absolute;
{% endblock %}

{% block nav %}

              <li><a href="/userhome/">{{request.user.username}}</a></li>
              <li><a href="/accountsettings/"> <span class="glyphicon glyphicon-cog"></span></a></li>
              <li><a href="/logout/">Logout <span class="glyphicon glyphicon-log-out"></span></a></li>
{% endblock %}

{% block content %}
    <br><br><br>
    <div class="container">

        <div class="col-md-9">

            <div class="well">
                <h2  class="text-center"> Records of: <span class="glyphicon glyphicon-user"></span> &nbsp;{{mobile}} </h2>
            </div>

                <br>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/userhome/"><span class="glyphicon glyphicon-home"></span> &nbsp Home</a></li>
                    <li class="breadcrumb-item"><a onclick="goBack()"><span class="glyphicon glyphicon-file"></span> Records</a></li>
                    <li class="breadcrumb-item"> <span class="glyphicon glyphicon-list-alt"></span> &nbsp Details</li>
                  </ol>

                {% if diets %}
                
                <table style="background-color:white;box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" class="table table-striped">
                        <tr>
                            <th><i class="fa fa-inr" ></i> Amount</th>
                            <th><span class="glyphicon glyphicon-pencil"></span> Remarks</th>
                            <th> <span class="glyphicon glyphicon-ok"></span> Verified</th>
                            <th> <i class="fa fa-inr"></i> Balance</th>
                            <th> <span class="glyphicon glyphicon-time"></span> Added </th>
                        </tr>
            
                        {% for diet in diets %}
                            <tr>
                                <td>{{diet.amount}}</td>
                                <td>{{diet.remarks}}</td>
                                <td>{{diet.verified}}</td>
                                {% cdetails diet %}
                                {% if credit < 0 %}
                                    <td style="color:red">{{credit}} (Dues)</td>
                                {% else %}
                                    <td>{{credit}} </td>
                                {% endif %}
                                <td>{{diet.ts|age}}</td>

            
                            </tr>
                        {% endfor %}
            
                    </table>

                    <a onclick="goBack()"><span class="glyphicon glyphicon-arrow-left"></span> &nbsp; Go back to results</button>


                    <script>
                            function goBack() {
                                window.history.back()
                            }
                    </script>


                    {% endif %}
            
        

        </div>

        <div class="col-md-3">
            {% for user in users %}
                <a href="/userbills?username={{user.username}}"> <p style="font-size:150%">{{ user.username }}</p></a><br>
            {% endfor %}
        </div>

        

    </div>

{% endblock %}